img {
    height: 60%;
    width: 60%;
    box-shadow: rgba(0,0,0,0.2) 10px 10px;

}

h1, h2 {
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-default {
    background-color: red !important;
   
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}


 html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: gray;
}
.modal-body {
    background-color: gray;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
    padding: 15px;
    font: 16px bold;
}

#myModalLabel {
    margin-left: 20px;
}

@media only screen and (max-width: 500px) {
	.navbar-fixed-bottom {
		display: none;
	}
}

